@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #13141f;
  color: #e5e7eb;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #13141f; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Electron Drag Region */
.electron-drag {
  -webkit-app-region: drag;
}
.electron-no-drag {
  -webkit-app-region: no-drag;
}